<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receipt</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('layouts/header') %>
    <main>
       
        <div class="receipt">
            <h2>Receipt</h2>
            <p><strong>Name:</strong> <%= name %></p>
            <p><strong>Address:</strong> <%= address %></p>
            <p><strong>City:</strong> <%= city %></p>
            <p><strong>Province:</strong> <%= province %></p>
            <p><strong>Phone:</strong> <%= phone %></p>
            <p><strong>Email:</strong> <%= email %></p>
        </div>
        <div class="orders">
        <h2>Order Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% orderDetails.forEach(item => { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.quantity %></td>
                        <td>$<%= item.price %></td>
                        <td>$<%= item.total %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="total">
            <p><strong>Subtotal:</strong> $<%= subtotal %></p>
            <p><strong>Tax Rate:</strong> <%= taxRate %>%</p>
            <p><strong>Tax Amount:</strong> $<%= taxAmount %></p>
            <p><strong>Total:</strong> $<%= total %></p>
        </div>
    </main>
    <%- include('layouts/footer') %>
</body>
</html>
